page-menu {

}
.profile-section {
  background-color: #000!important;
  color: white!important;
  p {
    color: #a0a0a0;
  }
}
.menuBar {
  background-color: #000!important;
  color: white!important;
}
